#container {
  @include outer-container;
}

#header {
  @include row;

  h1 {
    background: {
      image: url('/images/logo-small.png');
      repeat: no-repeat;
    }
    padding-left: 60px;
  }
}

#content {
  @include row;
}

#footer {
  @include row;
}
