%horizontal-list {
  list-style-type: none;
  list-style-position: inside;
  padding: none;
  margin: none;
}

#container {
  @include outer-container;
}

#header {
  @include row;

  h1 {
    background: {
      image: url('/images/logo-small.png');
      repeat: no-repeat;
    }
    padding-left: 60px;

    a {
      color: #000;
    }
  }
}

#content {
  @include row;
}

#footer {
  @include row;
}

.components {
  > li {
    margin: 1em 0;
    overflow: hidden;

    h2 {
      margin: 0 0 .5em 0;
    }
  }
}

.component-files {
  @include span-columns(12);

  li {
    @include span-columns(2);
    @include omega(6n);
  }
}
