<!DOCTYPE html>
<html>
  <head>
    <title>Underwear.js</title>
    <link rel='stylesheet' href='/stylesheets/application.css' />
  </head>
  <body>
    <div id="container">
      <header id="header">
        <h1><a href="/">Underwear.js</a></h1>
      </header>
      <section id="content">
